@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  @apply text-blue-500;
  @apply font-medium;
}

html {
  overflow-y: scroll;
  @apply transition-colors duration-200;
}

/* Page Fade Transition */
.fade-enter{
  opacity: 0;
}
.fade-exit{
  opacity: 0;
}
.fade-enter-active{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 500ms;
}

/* Modal CSS Transition */
.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.2s;
}